/* Queue Style */
.queue-logo-container {
    background: #7c7c7c no-repeat 50% 30%;
    margin-bottom: 20px;
    color: white;
    height:300px;
    text-align:center;
}

img.queue-logo {
    height:280px;
    margin-top:-10px;
}
